.v-theme--PurpleThemeDark {
  .shiki.shiki-themes,
  .shiki.shiki-themes span {
    color: var(--shiki-dark) !important;
  }

  .shiki.shiki-themes {
    background-color: var(--shiki-dark-bg) !important;
  }

  .markstream-vue {
    --border: 217.2 32.6% 17.5%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
  }
}
